@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #F5F5F5;
}
.main-color{
  color: #DDB762;
}
.title-color{
  color: #2C4768;
}
.secondary-color{
  color: #B0B0B0;
}
.lawyer-booking{
  position: relative;
  &::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: -15%;
    width: 130%;
    height: 2px;
    background-color: #e2e2e2;
  }
}
.lawyer-booking .active{
  position: relative;
  z-index: 10;
  color: #2C4768;
  border-bottom: 2px solid #577499;
}
.lawyer-card:hover{
  background: linear-gradient(to bottom right,#DDB762 20%,#98875F 95%);
}
.category-card:hover{
  *{
    color: white !important;
  }
  background: linear-gradient(to bottom right,#DDB762 20%,#98875F 95%);
}